<section class="adminRequestsBody">
  
    <ion-list ng-repeat="request in userRequests">
      <ion-item ng-click='select($index)'>
        Description: &nbsp;{{request.description}}<br>
        Type: &nbsp;{{request.requestType}}<br>
        Clock IN: &nbsp;{{request.timeIn | date: 'shortTime'}}&nbsp;Clock IN: &nbsp;{{request.timeOut | date: 'shortTime'}}<br>
        Date: &nbsp;{{request.date | date: 'shortDate'}}<br>
        Status: &nbsp;{{request.status}}
      </ion-item>
      <section class="requestListButtons" ng-show="$index === selected"ng-hide="requestListButtons">
        <button class="backButton"type="button" name="button"ng-click="deleteIt($index)">Delete</button>
        <button class="backButton"type="button" name="button"ng-click="denyIt($index)">Deny</button>
        <button class="backButton"type="button" name="button"ng-click="approveIt($index)">Approve</button>
      </section>
    </ion-list>
</section>

<section class="backButtonsAndLogoutButtonSection">

<button class="backButton" ng-hide='justBack'type="button" ng-click='back()'>Back</button>

</section>
