<section class="adminView">
  <h1 class="adminControl">Admin Control</h1>
  <div ng-click='employees()' class="adminBox employeeBox animated slideInLeft"><s ng-hide='sClassHidden'  ng-class="sClass">Employees</s></div>
  <div ng-click='adminSettings()'class="adminBox settingsBox animated slideInRight"><s ng-hide='sClassHidden'  ng-class="sClass">Settings</s></div>
  <div ng-click='goToRequests()' class="adminBox settingsBox animated slideInLeft"><s ng-hide='sClassHidden'  ng-class="sClass">Requests &nbsp;</s><b ng-hide="theRequestsNumberHidden"class="animated infinite pulse" style="color: yellow; font-size: 7vh">{{pendingRequests}}</b></div>
  <div ng-click='goToLocation()'class="adminBox settingsBox animated slideInRight"><s ng-hide='sClassHidden'  ng-class="sClass">Set Location</s></div>
  <div ng-click='logout()' class="adminBox settingsBox animated slideInLeft"><s ng-hide='sClassHidden'  ng-class="sClass">Logout</s></div>
</section>
