<section id="scheduleView" ng-class="timeViewClass" ng-hide='entireScheduleView'>
  <h1 style="color: white">{{employeeSelected.name.toUpperCase()}}</h1>
 <section class='topSchedule'>

   <!-- <button class="topScheduleButton" ng-hide='weekButton'ng-click="toggleItWeek()"type="button">Week</button>
   <button class="topScheduleButton" ng-hide='monthButton'ng-click="toggleItMonth()"type="button">Month</button> -->
   <button type="button" ng-click="previousWeek()" style="color: white"><b style="font-size: 6vh"><</b></button>
     <p ng-hide="weekHidden">
       Week of {{sunday._d | date: 'shortDate'}}-{{saturday._d | date: 'shortDate'}}
     </p>

     <p ng-hide="monthHidden">
       {{theMonth | date: 'MMMM'}}
     </p>
     <button type="button" ng-click="nextWeek()" style="color: white"><b style="font-size: 6vh">></b></button>
 </section>
 Total Time Worked this Week &nbsp;{{totalWeekHours}}:{{totalWeekMinutes}}:{{totalWeekSeconds}}
 <div class="weekBox" ng-hide="weekHidden">
 <div ng-click="showThisSunday()" shift-directive day-selected={{sunday._d}} class="sBox" day="day">SUN  {{sunday._d | date: 'shortDate'}}<br><timeWorked>Time Worked:&nbsp;{{sundayHours}}:{{sundayMinutes}}:{{sundaySeconds}}</timeWorked><div class='timeWeek' ng-repeat="time in timesSunday">{{time.inOrOut}}:&nbsp;{{time.timeStamp | date: 'mediumTime'}}</div></div>
 <div ng-click="showThisMonday()" shift-directive day-selected={{monday._d}} class="sBox" day="day">MON  {{monday._d | date: 'shortDate'}}<br><timeWorked>Time Worked:&nbsp;{{mondayHours}}:{{mondayMinutes}}:{{mondaySeconds}}</timeWorked><div class='timeWeek' ng-repeat="time in timesMonday">{{time.inOrOut}}:&nbsp;{{time.timeStamp | date: 'mediumTime'}}</div></div>
 <div ng-click="showThisTuesday()" shift-directive day-selected={{tuesday._d}} class="sBox" day="day">TUE  {{tuesday._d | date: 'shortDate'}}<br><timeWorked>Time Worked:&nbsp;{{tuesdayHours}}:{{tuesdayMinutes}}:{{tuesdaySeconds}}</timeWorked><div class='timeWeek' ng-repeat="time in timesTuesday">{{time.inOrOut}}:&nbsp;{{time.timeStamp | date: 'mediumTime'}}</div></div>
 <div ng-click="showThisWednesday()" shift-directive day-selected={{wednesday._d}} class="sBox" day="day">WED  {{wednesday._d | date: 'shortDate'}}<br><timeWorked>Time Worked:&nbsp;{{wednesdayHours}}:{{wednesdayMinutes}}:{{wednesdaySeconds}}</timeWorked><div class='timeWeek' ng-repeat="time in timesWednesday">{{time.inOrOut}}:&nbsp;{{time.timeStamp | date: 'mediumTime'}}</div></div>
 <div ng-click="showThisThursday()" shift-directive day-selected={{thursday._d}} class="sBox" day="day">THU  {{thursday._d | date: 'shortDate'}}<br><timeWorked>Time Worked:&nbsp;{{thursdayHours}}:{{thursdayMinutes}}:{{thursdaySeconds}}</timeWorked><div class='timeWeek' ng-repeat="time in timesThursday">{{time.inOrOut}}:&nbsp;{{time.timeStamp | date: 'mediumTime'}}</div></div>
 <div ng-click="showThisFriday()" shift-directive day-selected={{friday._d}} class="sBox" day="day">FRI  {{friday._d | date: 'shortDate'}}<br><timeWorked>Time Worked:&nbsp;{{fridayHours}}:{{fridayMinutes}}:{{fridaySeconds}}</timeWorked><div class='timeWeek' ng-repeat="time in timesFriday">{{time.inOrOut}}:&nbsp;{{time.timeStamp | date: 'mediumTime'}}</div></div>
 <div ng-click="showThisSaturday()" shift-directive day-selected={{saturday._d}} class="sBox" day="day">SAT  {{saturday._d | date: 'shortDate'}}<br><timeWorked>Time Worked:&nbsp;{{saturdayHours}}:{{saturdayMinutes}}:{{saturdaySeconds}}</timeWorked><div class='timeWeek' ng-repeat="time in timesSaturday">{{time.inOrOut}}:&nbsp;{{time.timeStamp | date: 'mediumTime'}}</div></div>
</div>
</section>

<div ng-hide="theSundayChosen"class="bigBox">
SUN  {{sunday._d | date: 'shortDate'}}<br><u>Time Worked:&nbsp;{{sundayHours}}:{{sundayMinutes}}:{{sundaySeconds}}</u><div class='timeWeek' ng-repeat="time in timesSunday track by $index"><mondayTime ng-click="sundayEdit($index)">{{time.inOrOut}}:&nbsp;{{time.timeStamp | date: 'mediumTime'}}</mondayTime><input type="time" ng-show="$index === sundayTimeSelected" ng-model="newTimeSunday"><img style="margin-right: 4vh"src="img/redX.png" type="button" ng-click="xPressedSunday()" ng-show="$index === sundayTimeSelected"</><img style="margin-left: 4vh"src="img/greenCheck.png" type="button" ng-click="tempChangeSunday(newTimeSunday, {{sunday._d}})"ng-show="$index === sundayTimeSelected"/></div>
<button class="backButton"type="button" ng-hide="doneButtonHidden"ng-click="sundayDone()">Done</button>
<button class="backButton"type="button" ng-hide="cancelAndSubmitButtonsHidden"ng-click="sundayDone()">Done</button>
</div>
<div ng-hide="theMondayChosen"class="bigBox">
MON  {{monday._d | date: 'shortDate'}}<br><u>Time Worked:&nbsp;{{mondayHours}}:{{mondayMinutes}}:{{mondaySeconds}}</u><div class='timeWeek' ng-repeat="time in timesMonday track by $index" ><mondayTime ng-click="mondayEdit($index)">{{time.inOrOut}}:&nbsp;{{time.timeStamp | date: 'mediumTime'}}</mondayTime><input type="time" ng-show="$index === mondayTimeSelected" ng-model="newTimeMonday"><img style="margin-right: 4vh"src="img/redX.png" type="button" ng-click="xPressedMonday()" ng-show="$index === mondayTimeSelected"</><img style="margin-left: 4vh"src="img/greenCheck.png" type="button" ng-click="tempChangeMonday(newTimeMonday, {{monday._d}})"ng-show="$index === mondayTimeSelected"/></div>
<button class="backButton"type="button" ng-hide="doneButtonHidden"ng-click="mondayDone()">Done</button>
<button class="backButton"type="button" ng-hide="cancelAndSubmitButtonsHidden"ng-click="mondayDone()">Done</button>
</div>
<div ng-hide="theTuesdayChosen"class="bigBox">
TUE  {{tuesday._d | date: 'shortDate'}}<br><u>Time Worked:&nbsp;{{tuesdayHours}}:{{tuesdayMinutes}}:{{tuesdaySeconds}}</u><div class='timeWeek' ng-repeat="time in timesTuesday track by $index" ><mondayTime ng-click="tuesdayEdit($index)">{{time.inOrOut}}:&nbsp;{{time.timeStamp | date: 'mediumTime'}}</mondayTime><input type="time" ng-show="$index === tuesdayTimeSelected" ng-model="newTimeTuesday"><img style="margin-right: 4vh"src="img/redX.png" type="button" ng-click="xPressedTuesday()" ng-show="$index === tuesdayTimeSelected"</><img style="margin-left: 4vh"src="img/greenCheck.png" type="button" ng-click="tempChangeTuesday(newTimeTuesday, {{tuesday._d}})"ng-show="$index === tuesdayTimeSelected"/></div>
<button class="backButton"type="button" ng-hide="doneButtonHidden"ng-click="tuesdayDone()">Done</button>
<button class="backButton"type="button" ng-hide="cancelAndSubmitButtonsHidden"ng-click="tuesdayDone()">Done</button>

</div>
<div ng-hide="theWednesdayChosen"class="bigBox">
WED  {{wednesday._d | date: 'shortDate'}}<br><u>Time Worked:&nbsp;{{wednesdayHours}}:{{wednesdayMinutes}}:{{wednesdaySeconds}}</u><div class='timeWeek' ng-repeat="time in timesWednesday track by $index" ><mondayTime ng-click="wednesdayEdit($index)">{{time.inOrOut}}:&nbsp;{{time.timeStamp | date: 'mediumTime'}}</mondayTime><input type="time" ng-show="$index === wednesdayTimeSelected" ng-model="newTimeWednesday"><img style="margin-right: 4vh"src="img/redX.png" type="button" ng-click="xPressedWednesday()" ng-show="$index === wednesdayTimeSelected"</><img style="margin-left: 4vh"src="img/greenCheck.png" type="button" ng-click="tempChangeWednesday(newTimeWednesday, {{wednesday._d}})"ng-show="$index === wednesdayTimeSelected"/></div>
<button class="backButton"type="button" ng-hide="doneButtonHidden"ng-click="wednesdayDone()">Done</button>
<button class="backButton"type="button" ng-hide="cancelAndSubmitButtonsHidden"ng-click="wednesdayDone()">Done</button>

</div>
<div ng-hide="theThursdayChosen"class="bigBox">
THU  {{thursday._d | date: 'shortDate'}}<br><u>Time Worked:&nbsp;{{thursdayHours}}:{{thursdayMinutes}}:{{thursdaySeconds}}</u><div class='timeWeek' ng-repeat="time in timesThursday track by $index" ><mondayTime ng-click="thursdayEdit($index)">{{time.inOrOut}}:&nbsp;{{time.timeStamp | date: 'mediumTime'}}</mondayTime><input type="time" ng-show="$index === thursdayTimeSelected" ng-model="newTimeThursday"><img style="margin-right: 4vh"src="img/redX.png" type="button" ng-click="xPressedThursday()" ng-show="$index === thursdayTimeSelected"</><img style="margin-left: 4vh"src="img/greenCheck.png" type="button" ng-click="tempChangeThursday(newTimeThursday, {{thursday._d}})"ng-show="$index === thursdayTimeSelected"/></div>
<button class="backButton"type="button" ng-hide="doneButtonHidden"ng-click="thursdayDone()">Done</button>
<button class="backButton"type="button" ng-hide="cancelAndSubmitButtonsHidden"ng-click="thursdayDone()">Done</button>

</div>
<div ng-hide="theFridayChosen"class="bigBox">
FRI  {{friday._d | date: 'shortDate'}}<br><u>Time Worked:&nbsp;{{fridayHours}}:{{fridayMinutes}}:{{fridaySeconds}}</u><div class='timeWeek' ng-repeat="time in timesFriday track by $index" ><mondayTime ng-click="fridayEdit($index)">{{time.inOrOut}}:&nbsp;{{time.timeStamp | date: 'mediumTime'}}</mondayTime><input type="time" ng-show="$index === fridayTimeSelected" ng-model="newTimeFriday"><img style="margin-right: 4vh"src="img/redX.png" type="button" ng-click="xPressedFriday()" ng-show="$index === fridayTimeSelected"</><img style="margin-left: 4vh"src="img/greenCheck.png" type="button" ng-click="tempChangeFriday(newTimeFriday, {{friday._d}})"ng-show="$index === fridayTimeSelected"/></div>
<button class="backButton"type="button" ng-hide="doneButtonHidden"ng-click="fridayDone()">Done</button>
<button class="backButton"type="button" ng-hide="cancelAndSubmitButtonsHidden"ng-click="fridayDone()">Done</button>

</div>
<div ng-hide="theSaturdayChosen"class="bigBox">
SAT  {{saturday._d | date: 'shortDate'}}<br><u>Time Worked:&nbsp;{{saturdayHours}}:{{saturdayMinutes}}:{{saturdaySeconds}}</u><div class='timeWeek' ng-repeat="time in timesSaturday track by $index" ><mondayTime ng-click="saturdayEdit($index)">{{time.inOrOut}}:&nbsp;{{time.timeStamp | date: 'mediumTime'}}</mondayTime><input type="time" ng-show="$index === saturdayTimeSelected" ng-model="newTimeSaturday"><img style="margin-right: 4vh"src="img/redX.png" type="button" ng-click="xPressedSaturday()" ng-show="$index === saturdayTimeSelected"</><img style="margin-left: 4vh"src="img/greenCheck.png" type="button" ng-click="tempChangeSaturday(newTimeSaturday, {{saturday._d}})"ng-show="$index === saturdayTimeSelected"/></div>
<button class="backButton"type="button" ng-hide="doneButtonHidden"ng-click="saturdayDone()">Done</button>
<button class="backButton"type="button" ng-hide="cancelAndSubmitButtonsHidden"ng-click="saturdayDone()">Done</button>

</div>
<section class="backButtonsAndLogoutButtonSection" ng-hide="buttonsBottomHidden">
<button class="backButton" type="button" ng-click='menu()'>Menu</button>
<button class="backButton" ng-hide='justBack'type="button" ng-click='back()'>Back</button>

</section>
